= Bounded Context Canvas: {{architectureName}}
:toc: left
:icons: font
:nofooter:

{{#contexts}}
== {{name}}

[cols="1h,3"]
|===
| Domain Vision | {{domainVision}}
| Subdomain | {{subdomainLabel}}
{{#ownedBy}}
| Team | {{ownedBy}}
{{/ownedBy}}
{{#responsibilities}}
| Responsibilities | {{responsibilities}}
{{/responsibilities}}
|===

{{#hasTerms}}
=== Ubiquitous Language

{{#terms}}
* {{.}}
{{/terms}}

{{/hasTerms}}
{{#hasAggregates}}
=== Aggregates

{{#aggregates}}
==== {{name}}

[cols="1h,3"]
|===
| Aggregate Root | `{{root}}`
{{#hasEntities}}
| Entities | {{#entities}}`{{.}}` {{/entities}}
{{/hasEntities}}
{{#hasValueObjects}}
| Value Objects | {{#valueObjects}}`{{.}}` {{/valueObjects}}
{{/hasValueObjects}}
|===

{{#hasCommands}}
.Commands (Input)
{{#commands}}
* `{{.}}`
{{/commands}}

{{/hasCommands}}
{{#hasEvents}}
.Domain Events (Output)
{{#events}}
* `{{.}}`
{{/events}}

{{/hasEvents}}
{{#hasInvariants}}
.Invarianten
[cols="2,3", options="header"]
|===
| Regel | Ausdruck

{{#invariants}}
| {{name}} | `{{expression}}`
{{/invariants}}

|===

{{/hasInvariants}}
{{/aggregates}}
{{/hasAggregates}}
'''

{{/contexts}}
