= Ubiquitous Language: {{architectureName}}
:toc: left
:icons: font
:nofooter:

Glossar der fachlichen Begriffe, gruppiert nach Bounded Context.

{{#contexts}}
== {{name}}

[cols="1", options="header"]
|===
| Begriff

{{#terms}}
| {{.}}
{{/terms}}

|===

{{/contexts}}
